@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href="~/css/site.css" rel="stylesheet" />

<!DOCTYPE html>
<html>

<head>
    <title>HR Pharm - Staff Portal</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="account">
        <div id="register" class="container">
            <div class="middle-box text-center loginscreen animated fadeInDown">

                <div class="row">
                    <div class="col-md-12">
                        <img class="img-responsive" src="~/images/Logo.png" />
                        <hr />
                        <form asp-action="ForgotPassword" method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <h4>Forgot Password?</h4>

                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><img src="~/images/email_ico.png" /></span>

                                    <input asp-for="Email" class="form-control" placeholder="Email Address"/>
                                </div>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                    </div>
                </div>
                <div class="note-group">
                    <h5>Spam Filter Note</h5>
                    <p>If you don't get an email from us within a few minutes please check your spam filter. </p>
                </div>

            </div>

        </div>

        <div class="container text-center space30">
            <a asp-action="#" class="text-muted">Terms of Service</a> | <a asp-action="#" class="text-muted">Privacy Policy</a>
        </div>

    </div>


</body>
</html>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
