@{
    ViewData["Title"] = "Manage";
}

<section>
    <div class="container">
        <div class="col-md-3">
            <ul class="nav side-menu">
                <portal-menu active-route="@ViewBag.ActiveMenuItem" menu-items="@ViewBag.MenuItems"></portal-menu>
            </ul>
        </div>
        <div class="col-md-9">
            <h2>ADMIN - MANAGE</h2>
        </div>
    </div>
</section>